<div class="user-details">
  <form action="/user/edit" method="post" enctype="multipart/form-data">
    <div class="insert-avatar">
      <img class="avatar" src="{{avatar}}" alt="avatar" />
      <label>Choisir un avatar
        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
      </label>
    </div>
    <label>Nom:
      <input type="text" name="name" value="{{name}}" />
    </label>
    <label>Email:
      <input type="text" name="email" value="{{email}}" />
    </label>
    <label>Description:
      <textarea name="description" cols="50" rows="5">{{description}}</textarea>
    </label>
    <button>Valider</button>
  </form>
  {{#if errorMessage}}
    <div class="error">
      {{errorMessage}}
    </div>
  {{/if}}
</div>