<link rel="stylesheet" href="/stylesheets/answerdetail.css" />
<h1>Detail question</h1>
<div class="postanswer">

    <div data-id="{{question.id}}" class="question">
        <div class="user-block">
            <h4>{{userq.name}}</h4>
            <img src="{{userq.avatar}}" alt="avatar" class="avatar">
        </div>
        <div class="containquestion dialgueBox">
            <h3>{{question.title}}</h3>
            <p>{{{question.body}}} </p>
        </div>
        
    </div>
<hr>
    <div >
        
        {{#if answers}}
        {{#each userA}}
<h3>{{this.userId.name}}</h3>
<p>{{{this.body}}}</p>
{{/each}}
        
        {{/if}}
    </div>
    <div class="postanswer">
        <form action="/forum/answer?type=answer&from={{question.id}}" method="post">

            <label>
                <textarea name="body" id="editor"> Votre réponse </textarea>
            </label>
            <button class="btnposter">Poster</button>
        </form>
    </div>
    <script src="/javascripts/ckeditor.js"></script>