<link rel="stylesheet" href="/stylesheets/answerdetail.css" />
{{!--
<link rel="stylesheet" href="/stylesheets/styles.css" /> --}}
<h1>Detail question</h1>
<div class="postanswer">

    <div data-id="{{question.id}}" class="question">
        <div class="user-block">
            <h4>{{userq.name}}</h4>
            <div>
            <img src="{{userq.avatar}}" alt="avatar" class="avatar">
            <div class="flecheposter"></div>
            </div>
        </div>
        <div class="containquestion dialgueBox">
            <h6 class="creatat">Poster le :{{question.createdAt}}</h6>
            <h3>{{question.title}}</h3>
            <p>{{{question.body}}} </p>
             
        </div>
         
         
    </div>

    <hr>
    <div class="answer">

        {{#if answers}}
        {{#each userA}}
        <div class="containerAnswer">
            <div>
                <div>
                <div class="fleche"></div>
                <img src="{{this.userId.avatar}}" alt="useravatar" class="avatar">
                </div>
                <h3>{{this.userId.name}}</h3>
                
            </div>
            
            <div class="containquestion dialgueBox">
                 <h6 class="creatatanswer">{{this.userId.name}} a répondu le {{this.createdAt}}</h6>
                <p>{{{this.body}}}</p>
            </div>
            
        </div>
        {{/each}}

        {{/if}}
    </div>
    {{#if isLog}}
    <div class="postanswer">
        <form action="/forum/answer?type=answer&from={{question.id}}" method="post">

            <label>
                <textarea name="body" id="editor" rows="5" cols="33"> votre réponse ici...</textarea>
            </label>
            <button class="btnposter">Poster</button>
        </form>
    </div>
    {{/if}}
    <script src="/javascripts/ckeditor.js"></script>
  