<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css"
/>
<link rel="stylesheet" href="/stylesheets/dracula.css" />
<div class="all-block">
<div class="block-fun">
  <h1>Detail Fonction</h1>
  <div data-id="{{fun._id}}" class="fun">
    <div class="head-detail">
      <h2 class="title-crea">Créateur:</h2>
      <img src="{{fun.userId.avatar}}" alt="avatar" class="avatar" />
      <h3 class="name">{{fun.userId.name}}</h3>
    </div>
    <pre><code>{{textfun}}</code></pre>
    {{#if canDelete}}
      <div class="icos">
        <a class="user-ico" href="/forum/function/edit/{{fun._id}}"><img
            src="/images/editaccount.png"
            alt="icon edit"
          /></a>

        <a class="user-ico" href="/forum/function/delete/{{fun._id}}"><img
            class="fun-ico"
            id="btn-delete"
            src="/images/deleteaccount.png"
            alt="icon delete"
          /></a>
      </div>
    {{/if}}
    
  </div>
</div>
<div class="block-test">
  <h1>Test Fonction </h1>
  {{#if fun.argsArr}}
  <h2>Définir les argumments comme si c'était du json puis clicker sur Tester</h2>
    {{#each fun.argsArr}}
    <label >
      {{this}}
      <input type="text" class="input-test" name="{{this}}" placeholder="entrer une valeur">
      </label>
    {{/each}}
  {{/if}}
<button id="test">Tester</button>
{{!-- <h2>Résultat:</h2> --}}
<pre><code class="result hljs language-json">

</code></pre>
<div class="error error-client" hidden>
    <p></p>
  </div>
</div>
</div>

{{#if errorMessage}}
  <div class="error">
    {{errorMessage}}
  </div>
{{/if}}
{{#if message}}
  <div class="message">
    {{message}}
  </div>
{{/if}}
    <div class="explication">
      <h1>Utilisation de {{fun.name}}</h1>
      <div class="explication-text">
        <p>Pour tester cette fonction utilser la boite de test sur la droite.</p>
        <p>Pour l'utiliser de n'importe ou faite une requéte http:</p>
        <p>type: POST</p>
        <p>
        Url: <span id="url-exec">{{baseUrl}}:{{localPort}}/exec/{{fun.name}}</span> 
        </p>
        <br />
        Headers: "Content-type" = "application/json"
        <br />
        {{#if fun.argsArr}}
          Pour les arguments envoyer un json dans le body de forme:
<pre><code>
  { 
{{#each fun.argsArr}}
    "{{this}}": valeur {{#if @last}}{{else}},{{/if}}
{{/each}}
  }
</code></pre>
        {{/if}}
      </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/languages/javascript.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/languages/json.min.js"
></script>
<script>hljs.highlightAll();</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>