<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css"
/>
<link rel="stylesheet" href="/stylesheets/dracula.css" />
<div class="block-fun">
  <h1>Detail Fonction</h1>
  <div data-id="{{fun._id}}" class="fun">
    <div class="head-detail">
      <h2 class="title-crea">Créateur:</h2>
      <img src="{{fun.userId.avatar}}" alt="avatar" class="avatar" />
      <h3 class="name">{{fun.userId.name}}</h3>
    </div>

    <pre><code>{{textfun}}</code></pre>

  </div>
  <div>

    {{#if answers}}
      {{#each answers}}
        <div>
          <p>{{{this.body}}}</p>
        </div>
      {{/each}}
    {{/if}}
  </div>
  {{!-- <div class="postanswer">
    <form action="/forum/answer?type=answer&from={{function.id}}" method="post">

      <label>
        <textarea name="body" id="editor"> Votre réponse </textarea>
      </label>
      <button class="btnposter">Poster</button>
    </form>
  </div> --}}
</div>
{{! <script src="/javascripts/ckeditor.js"></script> }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/languages/javascript.min.js"
></script>
<script>hljs.highlightAll();</script>